<%- include('partials/header'); -%> <% if(books.length <= 0) { %>
<h1 class="no_book">No book available now</h1>
<% } else{ %>

<ul class="books">
  <% books.forEach((ele) =>{ %>

  <li class="book">
    <img src="/book.jpg" alt="Book icon" />
    <h4><%= ele.name %></h4>
    <p><%= ele.description %></p>

    <a href="/get-now/<%= ele._id %> " class="get-now">Get Now</a>
  </li>
  <% }) %>
</ul>

<% } %> <%- include('partials/footer'); -%>
